.home { max-width:100%; }
.home .content { background:#E8E8E8; padding:1rem 3rem; }
.home .content .item { width:80%; background:#fff; margin:0 auto 35px; text-align:center; padding-bottom:5px; }
.home .content .item img { width:100%; }
.home .content .item p { margin:5px; } 
