<public-navbar></public-navbar>

<div align="right" style="padding:0;background:#333;" *ngIf="isAdmin()">
	<a routerLink="/add-item" class="btn btn-success">
	 <i class="fa fa-plus"></i> Add item
	</a>
</div>

<div class="container home">

	<div class="row">

		<div class="col-lg-3" style="padding:0;background:#333;">

			<public-sider></public-sider>

		</div>

		<div class="col-lg-9 content">

			<form class="search-form" (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm" name="searchForm" action="/search" method="GET" [style.display]="searchBoxShow">
				<div class="row">
					<div class="col-lg-2">
						<input type="text" class="form-control" placeholder="Keyword" name="key" [(ngModel)]="keyword">
					</div>
					<div class="col-lg-2">
						<input type="text" class="form-control" placeholder="Brand" name="brand" [(ngModel)]="brand">
					</div>
					<div class="col-lg-2">
						<input type="text" class="form-control" placeholder="Rating (1-5)" name="rating" [(ngModel)]="rating">
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Price Range" name="price1" [(ngModel)]="price1">
							<div class="input-group-prepend">
								<span class="input-group-text"> - </span>
							</div>
							<input type="text" class="form-control" placeholder="Price Range" name="price2" [(ngModel)]="price2">
						</div>
					</div>
					<div class="col-lg-2">
						<button class="btn btn-success">Search</button>
					</div>
				</div>
			</form>

			<div class="row">
				<div class="col-lg-4" *ngFor="let item of items">
					<div class="item">
						<a href="product-view-page/{{ item.id }}"><img src="{{ item.cover_url }}" height="300" width="300"></a>
						<a href="product-view-page/{{ item.id }}">{{ item.name }}</a>
						<p>{{ item.price }} <span class="fa fa-eur"></span></p>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<public-footer></public-footer>
