.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
}
p{
    color: black;
}
.buttons{display: block; width: 100px; margin: 10px; background-color: rgb(241, 224, 234);}
