.app-main-basket-product-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
}
/* TODO add color to button edit and back on step 3
.edit-button{
    background-color: #7b8275;
    color: #fcf6ff;
    border-radius: 10px;
}
*/
