<div class="app-footer">
    <div class="app-footer-content">
        <div class="app-footer-title">
            <span>About</span>
        </div>
        <div class="app-footer-info">
            <div>
                <span>Star Rcords</span>
                <span>Group 2</span>
                <span>Linneuniversitet</span>
                <span><mat-icon>location_city</mat-icon> Växjö </span>
            </div>
            <div>
                <span>star-records@twitter</span>
                <span><mat-icon>email</mat-icon> support@starrecords.com</span>
                <span><mat-icon>phone</mat-icon> 073852130</span>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" preserveAspectRatio="none">
        <path fill="#37474f" d="M0 640L640 640L640 140L0 0L0 640Z"
        ></path>
    </svg>
</div>
