.app-footer{

    width: 100%;
    position: relative;
    height: 38em;

    color: white;


    .app-footer-content {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 10;


        display: flex;
        flex-direction: column;
        padding: 32px 32px 0 32px;

        font-family: 'Arvo', fantasy;

        .app-footer-title {
            padding: 48px;
            font-size: 42px;
        }

        .app-footer-info {
            display: flex;
            flex: 1;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 32px 32px 0 32px;

            font-size: 24px;

            div {
                flex: 1;
                display: flex;
                flex-direction: column;

                span {
                    padding: 12px;
                }
            }
        }
    }

    svg {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

}
