<div class="app-footer">
    <div fxFlex="50%">
        <span class="app-main-footer-title">StarRecord</span>
        <br>
        <span class="app-main-footer-big-text">Telephone: </span>
        <span class="app-main-footer-small-text">000-000000 </span>
    </div>
    <div fxFlex="50%">
        <span class="app-main-footer-big-text">Address: </span>
        <span class="app-main-footer-small-text">Linnevägen 23</span>
        <br>
        <span class="app-main-footer-big-text">Email: </span>
        <span class="app-main-footer-small-text"> StarRecord@something.com</span>

    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path fill="white" d="m 0,46.835721 125.08214,-25.657874 84.99171,32.072342 0.53454,244.284351 H -0.53453905 Z"
        ></path>
    </svg>
</div>
