<mat-toolbar style="background-color: #cd5048">
    <img src="assets/images/star.png"/>
    <span id="title" style="color: white; cursor: pointer" [routerLink]="['/']">{{ title }}</span>
    <a href="navbar.component.html">HOME</a>
    <a href="#">CONTACT</a>
    <a href="#">ABOUT</a>
    <span class="mat-toolbar-spacer"></span>

    <button style="margin-right: 8px" mat-raised-button matTooltip="Signup" (click)="openRegisterComponent()"
            *ngIf="!authenticationService.isAuthenticated()">
        Register
    </button>

    <button style="margin-right: 8px" mat-raised-button matTooltip="Login" (click)="openLoginComponent()"
            *ngIf="!authenticationService.isAuthenticated()">
        Login
    </button>
    <button style="color: white" mat-icon-button [matMenuTriggerFor]="clientEditMenu"
            *ngIf="authenticationService.isAuthenticated()">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #clientEditMenu="matMenu">
        <button mat-menu-item (click)="navigateMyAccount()">
            <mat-icon>account_box</mat-icon>
            <span>My Account</span>
        </button>
        <button mat-menu-item (click)="openLogoutComponent()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
        </button>

    </mat-menu>
</mat-toolbar>

