<mat-toolbar class="app-navbar">
    <!-- Maybe change color on logo -->
    <img class="app-navbar-img" src="assets/images/star.png"/>
    <span class="app-navbar-title" [routerLink]="['/']">{{ title }}</span>
    <span class="mat-toolbar-spacer"></span>

    <button style="margin-right: 8px" mat-raised-button matTooltip="Signup" (click)="openRegisterComponent()"
            *ngIf="!authenticationService.isAuthenticated()">
        Register
    </button>

    <button mat-raised-button matTooltip="Login" (click)="openLoginComponent()"
            *ngIf="!authenticationService.isAuthenticated()">
        Login
    </button>


    <button mat-icon-button *ngIf="authenticationService.isUser()" (click)="navigateBasket()">
        <mat-icon class="mat-24" matBadge="{{getBasketTotal()}}" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="clientEditMenu"
            *ngIf="authenticationService.isAuthenticated()">
        <mat-icon class="mat-24">person</mat-icon>
    </button>
    <mat-menu #clientEditMenu="matMenu">
        <button mat-menu-item (click)="navigateMyAccount()">
            <mat-icon>account_circle</mat-icon>
            <span>My Account</span>
        </button>

        <button mat-menu-item (click)="openLogoutComponent()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
        </button>
    </mat-menu>
</mat-toolbar>

