.app-navbar{
    background-color: #102027;
}

.app-navbar-img {
    height: auto;
    float:left;
    width: 40px;
    margin-bottom:  5px;
}
#title{
    margin-left:  6px;
    margin-right:  6px;
    margin-top:  0;
    font-size: 30px;

}

