.app-navbar {
    filter: none;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        margin-left: 32px;

        display: flex;
        align-items: center;

        * {
            cursor: pointer;
        }
    }

    .option {
        padding-left: 16px;
        font-size: 20px;
    }

    .right {
        margin-right: 32px;
    }
    transition: all 0.5s;
}

.app-navbar-dark {
    background: linear-gradient(to bottom, #fff 10%, rgba(255, 255, 255, 0.9) 100%);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);

}

.app-navbar-title {
    font-family: 'Arvo', fantasy;
    font-size: 32px;
    font-weight: bold;
}

