.app-navbar {

}

.app-navbar-img {
    height: auto;
    float: left;
    width: 40px;
    margin-bottom: 5px;
}

.app-navbar-title {
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #263238;
    text-shadow: rgba(0, 0, 0, .3) 3px 3px 3px;
    text-transform: uppercase;

}
