.app-products {
    padding: 8px;
}

@keyframes ProductShow {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.app-products-product {
    opacity: 0;
    width: 100%;
    animation: ProductShow 1s;
    animation-fill-mode: forwards;
}
