.app-product {
    background-color: #eef2f3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.app-product-basic {
    padding: 32px 8px 32px 8px;
    margin-top: 80px;
}


.app-product-title {
    font-size: 2em;
    font-weight: bold;
}

.app-product-img {
    img {
        animation: slideDown 1s;
        margin-left: auto;
        margin-right: auto;
        display: block;

        transition: all .2s;

        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    }
}

.app-product-rating {
    padding: 16px;
}

