
* {
    box-sizing: border-box;

}

#main {
    -webkit-text-fill-color: snow;
    font-family: Courier, Monaco, monospace;
    display: flex;
    flex: 0 0 20vw;

}
#main > article {
    -webkit-text-fill-color: snow;
    font-family: Courier, Monaco, monospace;
    flex: 1;
    align-content: flex-end;
    background: indigo;


    order: 1;
}
#main > nav{
    -webkit-text-fill-color: snow;
    font-family: Courier, Monaco, monospace;
    flex: 1;
}

#main > aside {
    -webkit-text-fill-color: snow;
    font-style: italic;
    flex: 1;
}
#main > nav {
    -webkit-text-fill-color: snow;
    font-family: Courier, Monaco, monospace;
    background: indigo;
    order: 3;
}

#main > aside {
    font-family: Courier, Monaco, monospace;
    background: indigo;
    order: 2;
}
header{
    -webkit-text-fill-color: silver;
    font-family: Courier, Monaco, monospace;
    background: indigo;
    height: 20vh;
}
footer {
    font-family: Courier, Monaco, monospace;
    -webkit-text-fill-color: silver;
    background: indigo;
    height: 20vh;
}
header, footer, article, nav, aside {
    padding: 1em;
}
.checked {
    color: orange;
}
