

#main {
    -webkit-text-fill-color: snow;
    font-family: Courier, Monaco, monospace;
    display: flex;
    flex: 0 0 20vw;

}

#main > nav{
    -webkit-text-fill-color: snow;
    font-family: Courier, Monaco, monospace;
    flex: 1;
}

#main > aside {
    -webkit-text-fill-color: snow;
    font-style: italic;
    flex: 1;
}
#main > nav {
    -webkit-text-fill-color: snow;
    font-family: Courier, Monaco, monospace;
    background: indigo;
    order: 3;
}

#main > aside {
    font-family: Courier, Monaco, monospace;
    background: indigo;
    order: 2;
}
.app-main-product-header{
    -webkit-text-fill-color: silver;
    font-family: Courier, Monaco, monospace;
    background: indigo;
    font-size: x-large;
    text-align: center;
    padding: 20px;

}
footer {
    font-family: Courier, Monaco, monospace;
    -webkit-text-fill-color: silver;
    background: indigo;
    height: 20vh;
}
header, footer, article, nav, aside {
    padding: 1em;
}
.checked {
    color: orange;
}
