<div class="page-content">
    <div class="page-toolbar" >
        <mat-toolbar>
            <mat-toolbar-row>
                <span class="app-main-product-title">{{ product.name }}</span>
                <span class="mat-toolbar-spacer"></span>
                <button mat-flat-button color="primary" (click)="buy()">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" style="padding-bottom: 16px;">
        <div fxFlex="1 1 100%" >
            <div class="app-main-product-img"><img [lazyLoad]="product.cover"  fxFlex="1 1 100%" width="160" height="250"></div>
            <app-rating [productId]="product.id"></app-rating>
        </div>
        <div fxFlex="1 1 100%">
            <mat-toolbar style="height: 36px; min-height: 36px; ">
                <mat-toolbar-row>
                    <span class="font-larger">Tracks</span>
                    <span class="mat-toolbar-spacer"></span>
                </mat-toolbar-row>
            </mat-toolbar>
            <app-main-product-tracks [productId]="product.id"></app-main-product-tracks>
        </div>
    </div>

    <app-main-product-info [product]="product"></app-main-product-info>
</div>

