<div class="app-product" (window:resize)="onResize($event)">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" class="app-product-basic">

        <div fxFlex="1 1 100%">
            <mat-toolbar style="height: 36px; min-height: 36px; ">
                <mat-toolbar-row>
                    <span class="app-product-title">{{ product.name }}</span>
                    <span class="mat-toolbar-spacer"></span>
                    <button mat-flat-button color="primary" (click)="buy()">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>{{ product.price }} kr</span>
                </mat-toolbar-row>
            </mat-toolbar>
            <app-main-product-tracks [productId]="product.id"></app-main-product-tracks>
        </div>

        <div fxFlex="1 1 100%">
            <div class="app-product-img" *ngIf="product != null">
                <img *ngIf="product.cover != null" [lazyLoad]="product.cover" width="{{imageWidth}}">
            </div>
            <div class="app-product-rating">
                <app-rating [productId]="product.id" [rating]="product.getRating()"></app-rating>
            </div>

        </div>

    </div>
    <app-main-product-info [product]="product"></app-main-product-info>
</div>

