<div class="" >
    <mat-toolbar>
        <mat-toolbar-row>
            <span class="font-larger">Album Information</span>
            <span class="mat-toolbar-spacer"></span>

        </mat-toolbar-row>
    </mat-toolbar>
</div>

<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Description">
        <div style="padding: 32px">
            {{ product.description }}
        </div>

    </mat-tab>
    <mat-tab label="Additional Information">
        <mat-list style="padding: 32px">
            <mat-list-item>
                <div fxFlex="1 1 100%" class="info-style">
                    <strong>Producer</strong>
                </div>
                <div fxFlex="1 1 100%">
                    {{ product.producer }}
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="1 1 100%" class="info-style">
                    <strong>Year</strong>
                </div>
                <div fxFlex="1 1 100%">
                    {{ product.year }}
                </div>
            </mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>



