.info-style{
    font-family: Georgia, serif;
    font-size: 18px;
    //Could comment away shadow if we don't want it Regards, Ville.
    //text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
}
.font-larger{
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: unset;
}
