@keyframes flip3D {
    from {
        transform: rotateY(180deg);

    }
    to {
        transform: rotateY(0deg);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;

    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.app-home-products-categories {
    color: black;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    padding-top: 32px;

    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow-y: auto;


    ul {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;

        li {
            padding: 2px;
            text-align: center;
            font-size: xx-large;
            font-weight: lighter;
            cursor: pointer;
            transition: 1s ease-in-out;

            animation-name: slideDown;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        li:nth-child(1) { animation-delay: .2s }
        li:nth-child(2) { animation-delay: .4s }
        li:nth-child(3) { animation-delay: .6s }
        li:nth-child(4) { animation-delay: .8s }
        li:nth-child(5) { animation-delay: 1s }
        li:nth-child(6) { animation-delay: 1.2s }

        li:hover {
            background-image: radial-gradient(
                    rgba(0, 0, 0, 0.10),
                    rgba(0, 0, 0, 0.10),
                    rgba(0, 0, 0, 0.10));
        }
    }

    animation: flip3D 1.2s;
}


.app-home-products-categories-toolbar {
    padding-bottom: 16px;
    color: black;
}

.app-home-products-categories-toolbar .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app-home-products-categories-toolbar .center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-home-products-categories-toolbar .center .title {
    font-size: 48px;
}

.app-home-products-categories-toolbar .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
