@keyframes showTile {
    0% {
        opacity: 0;
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}



.app-admin-tiles {
    padding: 8px;
}

.app-admin-tile {
    animation: showTile 0.5s cubic-bezier(.33,.04,.72,.45);
    animation-fill-mode: both;
}

.app-admin-tile-card {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 4px;
    cursor: pointer;
    transition: all .2s;
}

.app-admin-tile-card:hover {
    color: white;
    background-color: #00695c;
}

.app-admin-tile-content {
    margin: 8px;
    height: 100%;
    max-height: 180px;
}



.app-admin-tiles .app-admin-tile:nth-child(1) { animation-delay: .2s }
.app-admin-tiles .app-admin-tile:nth-child(2) { animation-delay: .4s }
