<div class="container">
    <mat-toolbar class="toolbar-header">
        <mat-toolbar-row>
            <span class="font-larger">Welcome</span>
            <span class="mat-toolbar-spacer"></span>

        </mat-toolbar-row>
    </mat-toolbar>
    <mat-grid-list cols="2" rowHeight="240px">
        <mat-grid-tile *ngFor="let item of tools">
            <app-admin-tile
                [text]="item.text"
                [url]="item.url"
            ></app-admin-tile>
        </mat-grid-tile>
    </mat-grid-list>
</div>

