<div class="container">
    <mat-toolbar class="toolbar-header">
        <mat-toolbar-row>
            <span class="font-larger">Welcome {{authenticationService.getName()}}!</span>
            <span class="mat-toolbar-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-grid-list cols="3" rowHeight="240px" class="app-admin-tiles">
        <app-admin-tile *ngFor="let element of tools"
                        [colspan]="element.cols"
                        [rowspan]="element.rows"

                        [color]="element.color"
                        [text]="element.text"
                        [icon]="element.icon"
                        [url]="element.url"
        ></app-admin-tile>
    </mat-grid-list>
</div>

