<div class="container">
    <mat-toolbar class="toolbar-header">
        <mat-toolbar-row>
            <span class="font-larger">Welcome {{authenticationService.getName()}}!</span>
            <span class="mat-toolbar-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-grid-list cols="2" rowHeight="240px" class="app-admin-tiles">
        <mat-grid-tile *ngFor="let element of tools"
                       [colspan]="element.cols"
                       [rowspan]="element.rows"
                       class="app-admin-tile"
                       [style.color]="element.color"
        >
            <mat-card class="app-admin-tile-card" (click)="navigate(element)">
                <ul style="list-style-type:none">
                    <li> <span class="font-larger">{{element.text}}</span></li>
                    <li> <mat-icon class="mat-92" [style.color]="element.color">{{ element.icon }}</mat-icon></li>
                </ul>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

