<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="login.component.css">
</head>

<body>
        <table id="login">
            <tr>
                <td>
                    <h3>Log In at Star Collections</h3>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
            </tr>
            <tr>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Password:</td>
            </tr>
            <tr>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <td>
                    <button type="button">Log In</button>
                </td>
            </tr>
            <tr>
                <td><a href="forgotpassword">Forgot your password?</a></td>
            </tr>
            <tr>
                <td><a href="createaccount">Create an account</a></td>
            </tr>
        </table>
</body>