<div class="container">
    <div class="page-toolbar">
        <mat-toolbar>
            <mat-toolbar-row>
                <span class="font-larger">{{ product.name }}</span>
                <span class="mat-toolbar-spacer"></span>
                <button mat-icon-button >
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <app-admin-product-image [productId]="product.id" [cover]="product.cover"></app-admin-product-image>

    </div>
    <div fxLayout="row" fxLayoutGap="16px">
        <app-product-categories [productId]="product.id" fxFill></app-product-categories>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <app-product-tracks [productId]="product.id" fxFill></app-product-tracks>
    </div>

</div>
