<div class="page-toolbar">
    <mat-toolbar>
        <mat-toolbar-row>
            <span>{{ product.name }}</span>
            <span class="mat-toolbar-spacer"></span>

            <button mat-icon-button >
                <mat-icon>edit</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" style="padding-bottom: 16px">
    <app-product-categories [productId]="product.id"></app-product-categories>
</div>
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
    <app-product-tracks [productId]="product.id"></app-product-tracks>
</div>
