<mat-toolbar>
    <mat-toolbar-row>
        <span>Product one</span>
        <button mat-icon-button (click)="openAddDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Product two</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Product three</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Product four</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Product five</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Product six</span>
    </mat-toolbar-row>
</mat-toolbar><div class="container">
    Here we will use categories
</div>


