<mat-toolbar>
    <mat-toolbar-row>
        <span>Admin</span>
        <button mat-icon-button >
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Second Row</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Third Row</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Fourth Row</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Fifith Row</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Sixth Row</span>
    </mat-toolbar-row>
</mat-toolbar><div class="container">
    Here we will use categories
</div>


