*{
margin: 0;
padding: 3px;
}
img {
    height: auto;
    float:left;
    width: 40px;
    margin-bottom:  5px;
}
#title{
    margin-left:  6px;
    margin-right:  6px;
    margin-top:  0;
    font-family: "After Night", serif;
    font-size: 30px;

}

nav{
    width: 100%;
    height: 60%;
    flex: 1 1 auto;
}

li a {

    font-family: Arial Rounded MT, serif;
    color: #0e1307;
    font-size: 16px;
    text-decoration: none;
    flex: 1 1 auto;


}



