<mat-toolbar style="background-color: #6666ff">
    <mat-toolbar-row>
        <span style="color: white">{{ title }}</span>
        <span class="mat-toolbar-spacer"></span>



        <button style="margin-right: 8px" mat-raised-button matTooltip="Signup" (click)="openSignupComponent()" *ngIf="!authenticationService.isAuthenticated()">
            Signup
        </button>

        <button mat-raised-button matTooltip="Login" (click)="openLoginComponent()" *ngIf="!authenticationService.isAuthenticated()">
            Login
        </button>
    </mat-toolbar-row>
</mat-toolbar>
