.navbar-main {
    background-color: #2a2a2a;
}

img {
    height: auto;
    float: left;
    margin: 0;
    width: 60px;
}


nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-size: 14px;
    text-decoration: none;
}

