h1{color: black; text-align: left;}
p{color: grey; width: 800px;}
header{background-color: blue;}
body{background-color: lightblue;}
nav {
  background-color: grey;
  width: auto;
  height: 50px;

  ul {
    padding-left: 20px;
  }

  li {display:inline-block;
  }
  a{
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  a:link, a:visited{background-color: lightblue; color: grey;}
  a:hover, a:active{background-color: white;}
}
main{ background-color: lightblue; color: black}
footer{background-color: grey; color: black;}