<div>
    <div fxFlex="50%">
        <span class="app-main-footer-title">StarRecord</span>
        <br>
        <span class="app-main-footer-big-text">Telephone: </span>
        <span class="app-main-footer-small-text">000-000000 </span>
        <br>
        <span class="app-main-footer-big-text"></span>
        <span class="app-main-footer-small-text"></span>
    </div>
    <div fxFlex>
        <span class="app-main-footer-big-text">Address: </span>
        <span class="app-main-footer-small-text">Linnevägen 23</span>
        <br>
        <span class="app-main-footer-big-text">Email: </span>
        <span class="app-main-footer-small-text"> StarRecord@something.com</span>
        <br>
        <span class="app-main-footer-big-text"></span>
        <span class="app-main-footer-small-text"></span>
    </div>
</div>
