.big-title-font{
    font-size: 28px;
    font-weight: bold;
}
.big-start{
    font-size: 20px;
    font-weight: bold;
}
.right-footer{
    margin-top: 32px;
}
.small-text-footer{
    font-style: italic;
    font-size: 18px;
}
