<div  fxFlex="50%" >
    <span class="big-start">StarRecord</span>
    <br>
    <span class="big-start">Telephone </span>
    <span class="small-text-footer">000-000000 </span>
    <br>
    <span class="big-start"></span>
    <span class="small-text-footer"></span>
</div>
<div fxFlex>
    <span class="big-start">Address </span>
    <span class="small-text-footer">Linnevägen 23</span>
    <br>
    <span  class="big-start">Email </span>
    <span class="small-text-footer"> StarRecord@something.com</span>
    <br>
    <span class="big-start"></span>
    <span class="small-text-footer"></span>
</div>
