h1 {
    color: black;
    text-align: left;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

main {
    background-color: lightblue;
    color: black
}

footer {
    background-color: grey;
    color: black;
}


@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-light-green, 800);
$my-app-accent: mat-palette($mat-deep-orange, 800);
$my-app-warn: mat-palette($mat-deep-orange);


$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);


.mat-toolbar-spacer {
    flex: 1 1 auto;
}

.mat-column-end {
    display: flex;
    justify-content: flex-end;
}

a {
    color: #37474f;
    text-decoration: none;
}


// Page styles
.page-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.page-body {
    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    height: 100%;
}

.container {
    position: relative;
    height: 100%;
    padding: 16px;
}

.toolbar-header {
    margin-bottom: 8px;
}

.mat-toolbar {
    background-color: white;
}

// Font styles
.font-smaller {
    font-size: smaller;
}

.font-small {
    font-size: small;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-larger {
    font-size: larger;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.mat-header-row {
    animation: slideIn 0.3s linear;
    animation-fill-mode: both;
}

.mat-header-row .mat-header-cell {
    animation: slideIn 0.3s linear;
    animation-fill-mode: both;
}

.mat-header-row .mat-header-cell:nth-child(1) { animation-delay: .2s }
.mat-header-row .mat-header-cell:nth-child(2) { animation-delay: .4s }
.mat-header-row .mat-header-cell:nth-child(3) { animation-delay: .6s }
.mat-header-row .mat-header-cell:nth-child(4) { animation-delay: .8s }
.mat-header-row .mat-header-cell:nth-child(5) { animation-delay: 1s }
.mat-header-row .mat-header-cell:nth-child(6) { animation-delay: 1.2s }
