h1 {
    color: black;
    text-align: left;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fcfcfc;
}


@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-light-green, 800);
$my-app-accent: mat-palette($mat-deep-orange, 800);
$my-app-warn: mat-palette($mat-deep-orange);


$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);


.mat-toolbar-spacer {
    flex: 1 1 auto;
}

.mat-column-end {
    display: flex;
    justify-content: flex-end;
}

a {
    color: #37474f;
    text-decoration: none;
}


// Page styles
.page-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #6a1b9a;
}

.page-body {
    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    height: 100%;
    background-color: #6a1b9a;
}

.container {
    position: relative;
    height: 100%;
    padding: 16px;
}

.toolbar-header {

}

.mat-toolbar {
    background-color: transparent;
}

// Font styles
.font-smaller {
    font-size: smaller;
}

.font-small {
    font-size: small;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-larger {
    font-size: larger;
}

// Material icons
.material-icons.mat-14 {
    font-size: 14px;
    width: 14px;
    height: 14px;
}

.material-icons.mat-18 {
    font-size: 18px;
    width: 18px;
    height: 18px;
}

.material-icons.mat-24 {
    font-size: 24px;
    width: 24px;
    height: 24px;
}

.material-icons.mat-36 {
    font-size: 36px;
    width: 36px;
    height: 36px;
}

.material-icons.mat-48 {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

.material-icons.mat-56 {
    font-size: 56px;
    width: 56px;
    height: 56px;
}

.material-icons.mat-72 {
    font-size: 72px;
    width: 72px;
    height: 72px;
}

.material-icons.mat-92 {
    font-size: 92px;
    width: 92px;
    height: 92px;
}

// Mat header slider
@keyframes MatHeaderSlideIn {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.mat-header-row .mat-header-cell {
    animation: MatHeaderSlideIn 0.2s linear;
    animation-fill-mode: both;
}

.mat-header-row .mat-header-cell:nth-child(1) { animation-delay: .1s }
.mat-header-row .mat-header-cell:nth-child(2) { animation-delay: .2s }
.mat-header-row .mat-header-cell:nth-child(3) { animation-delay: .3s }
.mat-header-row .mat-header-cell:nth-child(4) { animation-delay: .4s }
.mat-header-row .mat-header-cell:nth-child(5) { animation-delay: .5s }
.mat-header-row .mat-header-cell:nth-child(6) { animation-delay: .6s }
