@keyframes fadein {
    from {
        transform: scale(0.0);
        opacity: 0;

    }
    to {
        transform: scale(1.0);
        opacity: 1;
    }
}

.app-product {
    position: relative;
    span {
        z-index: 10;
        position: absolute;
    }
    img {
        z-index: 0;
        width: 100%;
        min-height: 100px;
        background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy
        53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKICAgICB
        3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUw
        IDUwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CiAgICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iNCIgaGVpZ2h0PSI3IiBmaWxsPSIjMzMzI
        j4KICAgICAgPGFuaW1hdGVUcmFuc2Zvcm0gIGF0dHJpYnV0ZVR5cGU9InhtbCIKICAgICAgICBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIH
        R5cGU9InNjYWxlIgogICAgICAgIHZhbHVlcz0iMSwxOyAxLDM7IDEsMSIKICAgICAgICBiZWdpbj0iMHMiIGR1cj0iMC42cyIgcmVwZWF0Q29
        1bnQ9ImluZGVmaW5pdGUiIC8+ICAgICAgIAogICAgPC9yZWN0PgoKICAgIDxyZWN0IHg9IjEwIiB5PSIwIiB3aWR0aD0iNCIgaGVpZ2h0PSI3
        IiBmaWxsPSIjMzMzIj4KICAgICAgPGFuaW1hdGVUcmFuc2Zvcm0gIGF0dHJpYnV0ZVR5cGU9InhtbCIKICAgICAgICBhdHRyaWJ1dGVOYW1lP
        SJ0cmFuc2Zvcm0iIHR5cGU9InNjYWxlIgogICAgICAgIHZhbHVlcz0iMSwxOyAxLDM7IDEsMSIKICAgICAgICBiZWdpbj0iMC4ycyIgZHVyPS
        IwLjZzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4gICAgICAgCiAgICA8L3JlY3Q+CiAgICA8cmVjdCB4PSIyMCIgeT0iMCIgd2lkdGg
        9IjQiIGhlaWdodD0iNyIgZmlsbD0iIzMzMyI+CiAgICAgIDxhbmltYXRlVHJhbnNmb3JtICBhdHRyaWJ1dGVUeXBlPSJ4bWwiCiAgICAgICAg
        YXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJzY2FsZSIKICAgICAgICB2YWx1ZXM9IjEsMTsgMSwzOyAxLDEiCiAgICAgICAgYmVna
        W49IjAuNHMiIGR1cj0iMC42cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+ICAgICAgIAogICAgPC9yZWN0PgogIDwvc3ZnPg==") no-repeat center;
    }

    img.ng-lazyloaded {
        width: 100%;
        object-fit: cover;
        animation: fadein 1.0s;
    }

    cursor: pointer;
}
