<div class="app-products-categories" [@slideDownAnimation]="getShowState()">
    <div class="app-products-categories" *ngIf="visible">
        <div class="header">
            <span>Choose category</span>
        </div>
        <div class="close">
            <button mat-icon-button (click)="hide()">
                <mat-icon class="mat-36">close</mat-icon>
            </button>
        </div>
        <div class="menu-items">
            <div *ngFor="let element of categories" (click)="changeCategory(element)"
                 (mouseenter)="mouseEnter(element)"
                 (mouseleave)="mouseLeave(element)"

            >
                <span [style.transform]="getScale(element)" style="display: inline-block;">{{element.name}}</span>
            </div>
        </div>
        <div class="albums">
            <span *ngIf="albums >= 0">{{albums}} albums</span>
        </div>
    </div>
    <svg class="svg-background" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" preserveAspectRatio="none">
        <path fill="#263238" d="M0 640L640 640L640 0L0 0L0 640Z" id="c2u7Wpzbx"></path>
        <path fill="#37474f" d="M640 120L640 0L520 0L640 120Z" id="c1V1ElrQbi"></path>
        <path fill="#bc477b" d="M0 640L120 640L0 520L0 640Z" id="a5x0fFCjt"></path>
    </svg>
</div>
